<br>
<h1 class = "text-center"> About Blocipedia</h1>
<br>
<p class="text-left"> Blocipedia is an app that provides a platform to create content and collaborate with team members. With the free standard account, wikis can be created and shared publicly. With the premium account, one may create private wikis and choose other users as collaborator.</p>

