<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <h3>Create and Share Markdown Wikis</h3>
<br>
<br>
 <div class="row">
   <div class="col-md-5">
     <h2>Standard Plan - FREE!</h2>
     <p>Create and share public wikis.</p>
   </div>
   <div class="col-md-5">
     <h2>Premium Plan</h2>
     <p>Create private wikis and add collaborators.</p>
   </div>
 </div>
